:root {
    --color-light: #f8f9fa;
    --color-white: #fff;
    --color-unaccent: #808080;
    --color-medium: #e8e8e8;
    --spacing-small: 10px;
    --spacing-medium: 15px;
    --spacing-large: 30px;
    --border-radius: 3px;
    --linear-gradient: linear-gradient(to right, #e2f87c, #d6f567, #c8f151, #b9ee38, #a8eb12);
    --box-shadow: 0 16px 24px 2px rgba(33,37,41,.02), 0 6px 30px 5px rgba(33,37,41,.04), 0 8px 10px -5px rgba(33,37,41,.1);
}

* {
    box-sizing: border-box;
}

body {
    margin-left: 1px;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.7;
    background-color: var(--color-light);
}

    .MainMenu {
    margin-top: -12px;
    width: 100%;
    height: 50px;
    background-color: #DCB5B5;
    border-radius: 5px;
}

    .MainMenu a:after {
        display: block;
        content: "";
        height: 2px;
        width: 0%;
        background-color: #E31C1C;
        transition: width 0.3s ease-in-out;
    }

    .MainMenu a:hover:after, a:focus:after {
        width: 100%;
    }

    .MainMenu a:hover {
        color: #E31C1C;
        font-weight: bold;
    }

ul li {
    float: left;
    list-style: none;
    font: 18px Helvetica, sans-serif;
}

    ul li a {
        text-decoration: none;
        color: #000000;
        display: block;
        height: 68px;
        padding: 0px 55px;
        line-height: 50px;
    }

.Circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #7C7878;
    margin-top: 5px;
}




.footer {
    margin-top: 50px;
    background-color: #DCB5B5;
    border-radius: 4px;
}

    .footer p {
        display: inline-block;
        padding: 0px 200px;
    }
  .footer p a{
        text-decoration: none;
        color: #000000;
    }


@media screen and  (max-width: 1600px) {
    .MainMenu {
        margin-top: -12px;
        width: 100%;
        height: 50px;
        background-color: #DCB5B5;
        border-radius: 5px;
    }

        .MainMenu a:after {
            display: block;
            content: "";
            height: 2px;
            width: 0%;
            background-color: #E31C1C;
            transition: width 0.3s ease-in-out;
        }

        .MainMenu a:hover:after, a:focus:after {
            width: 100%;
        }

        .MainMenu a:hover {
            color: #E31C1C;
            font-weight: bold;
        }

    ul li {
        float: left;
        list-style: none;
        font: 20px Helvetica, sans-serif;
    }

        ul li a {
            text-decoration: none;
            color: #000000;
            display: block;
            height: 68px;
            padding: 0px 75px;
            line-height: 50px;
        }

    .Circle {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: #7C7878;
        margin-top: 5px;
    }



}

@media screen and (max-width: 1550px) {


        ul li a {
            text-decoration: none;
            color: #000000;
            display: block;
            height: 68px;
            padding: 0px 53px;
            line-height: 50px;
        }
   
   
}


@media screen and (max-width: 1450px) {


    ul li a {
        text-decoration: none;
        color: #000000;
        display: block;
        height: 68px;
        padding: 0px 60px;
        line-height: 50px;
    }
    .footer p {
        display: inline-block;
        padding: 0px 180px;
    }
}

@media screen and (max-width: 1400px) {


    ul li a {
        text-decoration: none;
        color: #000000;
        display: block;
        height: 68px;
        padding: 0px 45px;
        line-height: 50px;
    }
    .footer p {
        display: inline-block;
        padding: 0px 140px;
    }

 
}

@media screen and (max-width: 1350px) {


    ul li a {
        text-decoration: none;
        color: #000000;
        display: block;
        height: 68px;
        padding: 0px 45px;
        line-height: 50px;
    }
    ul li {
        float: left;
        list-style: none;
        font: 15px Helvetica, sans-serif;
    }
}

@media screen and ( max-width: 1220px) {


    ul li a {
        text-decoration: none;
        color: #000000;
        display: block;
        height: 68px;
        padding: 0px 30px;
        line-height: 50px;
    }

    ul li {
        float: left;
        list-style: none;
        font: 15px Helvetica, sans-serif;
    }
    .footer p {
        display: inline-block;
        padding: 0px 150px;
    }
}

@media screen and (max-width: 1000px) {


    ul li a {
        text-decoration: none;
        color: #000000;
        display: block;
        height: 68px;
        padding: 0px 20px;
        line-height: 50px;
    }

    ul li {
        float: left;
        list-style: none;
        font: 15px Helvetica, sans-serif;
    }
    .footer p {
        display: inline-block;
        padding: 0px 110px;
    }
}

@media screen and (max-width: 967px) {

    .footer p {
        display: inline-block;
        padding: 0px 90px;
    }
}

@media screen and (max-width: 867px) {


    ul li a {
        text-decoration: none;
        color: #000000;
        display: block;
        height: 68px;
        padding: 0px 13px;
        line-height: 50px;
    }

    ul li {
        float: left;
        list-style: none;
        font: 15px Helvetica, sans-serif;
    }
    .footer p {
        display: inline-block;
        padding: 0px 80px;
    }
}
@media screen and (max-width: 768px) {


    ul li a {
        text-decoration: none;
        color: #000000;
        display: block;
        height: 68px;
        padding: 0px 13px;
        line-height: 50px;
    }

    ul li {
        float: left;
        list-style: none;
        font: 13px Helvetica, sans-serif;
    }
    .footer p {
        display: inline-block;
        padding: 0px 70px;
    }
}